<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<head>
    <meta charset="UTF-8">
    <title>My Spring Pet Clinic app</title>
</head>
<body>
<h1>Pet Owner list</h1>
<table id="owners" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 200px;">FirstName</th>
        <th style="width: 200px;">LastName</th>
        <!--<th>City</th>
        <th style="width: 120px">Telephone</th>
        <th>Pets</th>-->
    </tr>
    </thead>

    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}"/>
        <td th:text="${owner.firstName}"/>
        <td th:text="${owner.lastName}"/>
    </tr>
    </tbody>

</table>
</body>
</html>